body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: burlywood;

}

nav {
    max-width: 70rem;
    margin: 0 auto;    
}

.Main {
    padding-top: 4rem;
    padding-bottom: 2rem;;
}

.Container-Card {
    max-width: 70rem;
    margin: 0 auto;
}
.Card__Container-Image {
    height: 20rem;
    width: 100%;
}
.Card__Container-Image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 -6rem;
}



footer {
    margin-top: 0 !important;
}

